.hide {
    display: none;
}

.red {
    background: red !important;
}

.yellow {
    background: yellow !important;
}

body { 
    margin:  0;
    font-family: 'Montserrat', sans-serif;
 }

game, settings, board {
    display: block;
}

.share-url {
    margin: 9px;
    width: 100%;
    padding: 9px;
    text-align: center;
}

settings, board {
    max-width: 500px;
    max-height: 428px;
    margin: auto;
    width: 96vw;
    height: 86vw;
    border-radius: 8%;
    overflow: hidden;
}

.settings-menu {
    padding: 5%;
    text-align: center;
}

.settings-header {
    font-size: x-large;
}

.settings-options {
    padding: 5%;
}

.settings-options-title {
    margin-top: 18px;
    margin-bottom: 9px;
    font-size: large;
    font-weight: 400;
}

.caption-text {
    font-size: small;
    margin-bottom: 6px;
}

board {
    padding: 1vw;
    background: blue;
}

.board-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 100%;
}

.board-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    flex-grow: 1;
    background-color: blue;
    border-radius: 8%;
    transition: all .35s;
}

.board-column:hover .slot.default {
    background-color: rgb(230, 230, 230) !important;
}

piece {
    flex-grow: 1;
    display: block;
}

.slot-container {
    width: 80%;
    height: 80%;
    margin: 10%;
    border-radius: 50%;
    cursor: pointer;
    background: white;
}

.slot {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.slot.red, .slot.yellow {
    cursor: default !important;
    animation: .75s drop ease both;
}

@keyframes drop {
    from {
        opacity: .7;
        transform: translateY(-50vw)
    }

    to {
        opacity: 1;
        transform: translateY(1);
    }
}